<aside class="blog__aside">
  <header class="aside__header">
    <a href="{{.Site.BaseURL}}" class="logo" title="Home">
      {{ partial "svg/logo.html" . }}
    </a>
    <p>{{.Site.Title}}</p>
  </header>

  <nav role="navigation" aria-label="Portfolio and Social Media Links">
    <ul class="menu">
      <li>
        <span class="menu__heading">Me elsewhere</span>
        <ul class="menu">
          <li><a href="https://twitter.com/_die_katrin" class="menu__link" target="_blank" rel="noopener">Twitter</a>
          </li>
          <li><a href="https://chaos.social/@katrin_k" class="menu__link" target="_blank" rel="noopener">Mastodon</a>
          </li>
          <li><a href="https://codepen.io/katrin-k/" class="menu__link" target="_blank" rel="noopener">CodePen</a></li>
          <li><a href="https://github.com/katrin-k" class="menu__link" target="_blank" rel="noopener">Github</a></li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://die-katrin.eu/frontend-dev/" class="menu__link cta-link" target="_blank"
          rel="noopener">Available for
          freelance work</a>
      </li>
    </ul>

  </nav>
</aside>