<aside class="aside">
  <header class="aside__header">
    <span class="logo">
        {{ partial "svg/logo.html" . }}
    </span>
    <p>frontend thoughts by katrin k.</p>
  </header>

  <nav role="navigation" aria-label="Main menu">
    <ul class="menu">
      <li><a href="" class="menu__link">Posts</a></li>
      <li><a href="" class="menu__link">Credits</a></li>
      <li><a href="" class="menu__link">About</a></li>
      <li><a href="" class="menu__link" target="_blank">Work site</a></li>
    </ul>
  </nav>

  <footer class="aside__footer">
    <nav role="navigation" aria-label="Social Media Links">
      <ul class="menu">
        <li><a href="" class="menu__link" target="_blank">Twitter</a></li>
        <li><a href="" class="menu__link" target="_blank">Mastodon</a></li>
        <li><a href="" class="menu__link" target="_blank">Github</a></li>
      </ul>
    </nav>
  </footer>
</aside>