{{ define "aside" }}
{{ partial "aside.html" . }}
{{ end }}

{{ define "main" }}
<h1 class="home__heading">{{.Title}}</h1>
<p>{{.Content}}</p>

<ul class="post-list">
  {{ range (.Paginator 8).Pages }}
  <li class="post-list__item">
    <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
    <time itemprop="datePublished" datetime="{{.Date.Format "2006-01-02"}}" class="post-list__date">
        {{.Date.Format "January 2, 2006"}}
    </time>
    <p class="post-list__summary">{{.Summary}}</p>
    {{ if .Truncated }}
    <div>
      <a href="{{ .RelPermalink }}">Read the article …</a>
    </div>
    {{ end }}
  </li>
  {{ end }}
  {{ partial "pagination.html" . }}
  <!-- {{ template "_internal/pagination.html" . }} -->
</ul>

{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}