@charset "utf-8";

@font-face {
  font-family: "Satisfy";
  src: url("../fonts/Satisfy-Regular.ttf") format("truetype");
}

:root {
  /* Color palette kindly provided by confrere https://confrere.com/a11y/test/ */
  --color-primary-dark: #aa2631; /* rgb(170, 38, 49); */
  --color-primary: #d5303d; /* rgb(213, 48, 61); */
  --color-primary-light: #ea989e; /* rgb(234, 152, 158); */
  --color-primary-dark-contrast: #ffffff; /* rgb(255, 255, 255); */
  --color-primary-contrast: #ffffff; /* rgb(255, 255, 255); */
  --color-primary-light-contrast: #000000; /* rgb(0, 0, 0); */
  --color-secondary-dark: #646140; /* rgb(100, 97, 64); */
  --color-secondary: #6f6c48; /* rgb(111, 108, 72); */
  --color-secondary-light: #eae498; /* hsl(55.3, 66.3%, 75.6%); */
  --color-secondary-dark-contrast: #ffffff;
  --color-secondary-contrast: #ffffff; /* rgb(255, 255, 255); */
  --color-secondary-light-contrast: #000000; /* rgb(0, 0, 0); */
  --color-warning-dark: #F45540;
  --color-warning: #F97369;
  --color-warning-light: #F5C6BC;
  --color-accept-dark: #00AD94;
  --color-accept: #00D2BB;
  --color-accept-light: #C6EFE7;
  --color-grey-xxdark: #1A1A1A;
  --color-grey-xdark: #333;
  --color-grey-dark: #767676;
  --color-grey: #9B9B9B;
  --color-grey-light: #D8D8D8;
  --color-grey-xlight: #EDEDED;
  --color-grey-xxlight: #F8F8F8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-background: var(--color-grey-xxlight);
  --color-text: var(--color-grey-xdark);
  --color-link: var(--color-primary-dark);
  --color-link-focus-background: var(--color-primary-dark);
  --color-link-focus-text: var(--color-grey-xxlight);
  --color-heading: var(--color-primary-dark);
  --color-code-background: var(--color-grey-xxdark);
  --color-code-text: var(--color-grey-xxlight);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 225ms linear;
}

body {
  height: 100vh;
  background-color: var(--color-secondary);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin: 1.414rem 0 0.5rem;
  font-family: "Garamond", "Palatino", "Georgia", serif;
  font-weight: inherit;
  line-height: 1.2;
  color: var(--color-heading);
}

h1 {
  margin-top: 0;
  font-size: 2.625rem;
}

h2 {
  font-size: 2.062rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.25rem;
}

small,
.font_small {
  font-size: 0.707rem;
}

p {
  margin-bottom: 1.3rem;
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration: none;
}
a:active,
a:focus {
  background-color: var(--color-link-focus-background);
  color: var(--color-link-focus-text);
}

/* Layouts */
.blog {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .blog {
    grid-template-columns: 430px minmax(500px, 1020px);
  }
}

.blog__aside {
  height: auto;
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .blog__aside {
    margin: 3rem 3rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .blog__aside {
    height: calc(100vh - 6rem);
    overflow: auto;
    margin: 3rem;
    padding: 5rem 3rem;
  }
}

.blog__main {
  overflow: auto;
  margin: 0.5rem;
  padding: 1rem;
  background-color: var(--color-background);
}

@media screen and (min-width: 768px) {
  .blog__main {
    margin: 1rem 3rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .blog__main {
    height: calc(100vh - 6rem);
    margin: 3rem;
    padding: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .blog__main {
    height: calc(100vh - 6rem);
    margin: 3rem;
    padding: 5rem 8rem;
  }
}

/* Skiplink */
.skiplink {
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px !important;
  outline: 0;
  padding: 0.5rem 1rem;
  background: var(--color-primary-dark);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.skiplink:active,
.skiplink:focus {
  clip: auto !important;
  height: auto !important;
  margin: 0;
  overflow: visible;
  width: auto !important;
  z-index: 20;
  position: static !important;
  position: fixed !important;
  top: 1rem;
  left: 1rem;
}


/* Sidebar */
@media screen and (max-width: 1023px) {
  .aside__nav {
    display: none;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 0.3rem;
  color: var(--color-primary-dark);
}

.logo:hover,
.logo:focus,
.logo:active {
  background: var(--color-background);
  outline: 2px solid var(--color-primary-dark);
  outline-offset: 4px;
}

.logo:focus,
.logo:active {
  color: var(--color-primary-dark);
}

.logo svg {
  height: 120px;
}

@media screen and (min-width: 1024px) {
  .logo svg {
    height: 150px;
  }
}

.menu {
  list-style: none;
}

.menu__heading {
  display: inline-block;
  margin-top: 2rem;
  font-weight: bolder;
}

.menu__link {
  margin-left: -0.2rem;
  padding: 0.2rem;
  line-height: 2;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  background: var(--color-link-focus-background);
  color: var(--color-link-focus-text);
}

.cta-link {
  display: inline-block;
  margin: 2rem 0;
  padding: 1.2rem 1rem 1.1rem;
  border: 10px dotted var(--color-link);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transform: rotate(-5deg);
  transform-origin: top left;
}

.cta-link:hover,
.cta-link:focus,
.cta-link:active {
  background: var(--color-link-focus-background);
  border-color: var(--color-link-focus-background);
  color: var(--color-link-focus-text);
}

.cta-link:active {
  transform: rotate(-5deg) scale(0.95);
}

/* Home page */
.home__heading {
  font-family: "Satisfy", sans-serif;
  font-size: 3.625rem;
}


/* Post list */
.post-list {
  list-style: none;
  margin: 3rem 0;
}

.post-list__item {
  margin-top: 2rem;
}

.post-list__item--draft {
  padding: 1rem;
  background-color: var(--color-accept-light);
}

.post-list__date {
  display: block;
  margin-bottom: 1.3rem;
}

.post-list__summary {
  margin-bottom: 0.5rem;
}

/* Single page post*/
.post-single {
  margin-bottom: 5rem;
}

.post-single__meta {
  display: inline-block;
  margin: 2rem 0 3rem;
  padding: 0.7rem 2rem 0.5rem 1.5rem;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
}

.post-single__draft {
  position: fixed;
  top: 3rem;
  width: 360px;
  padding: 1rem;
  background-color: var(--color-accept-light);
  z-index: 1;
}

.post-single__main {
  position: relative;
}

.post-single__footer {
  margin-top: 3rem;
}

.post-single__main h2 {
  margin-top: 3rem;
}

.post-single__main ul,
.post-single__main ol {
  margin-left: 1rem;
  margin-inline-start: 1rem;
}

.post-single__main li {
  margin-bottom: 1rem;
}

.post-single__main blockquote {
  margin: 1rem 0;
  padding: 1rem 2rem 0.1rem 2rem;
  border-left: 5px solid var(--color-secondary);
  font-size: 0.95em;
}

@media screen and (min-width: 1024px) {
  .post-single__main blockquote {
    padding: 1rem 5rem 0.1rem 2rem;
    border-left-width: 15px;
  }
}

/* Code blocks, adding + overriding to Prism */
pre[class*="language-"] {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  max-width: 100%;
  padding: 0;
  font-size: 1rem;
}

pre[class*="language-"]::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2em 1rem;
  background: linear-gradient(to right, transparent 0%, var(--color-grey-dark) 80%, var(--color-grey-dark) 85%);;
  color: white;
  text-align: right;
  font-size: 0.9em;
  text-transform: uppercase;
}

code[class*="language-"] {
  display: block;
  max-width: 100%;
  min-width: 100px;
  padding: 3em 1em 1.5em;
  background: var(--color-code-background);
  color: var(--color-code-text);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

code {
  background: var(--color-code-background);
  color: var(--color-code-text);
  padding: 2px 5px;
  border-radius: 2px;
}

/* Pagination */
.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 3rem;
}

.pagination > * {
  margin: 0.5rem 0.25rem 0;
}

.pagination__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  outline: 1px solid var(--color-link);
  background: var(--color-link);
  color: var(--color-white);
  font-size: 1.2rem;
  text-decoration: none;
}

.pagination__item.active a,
.pagination__link[aria-current],
.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background: var(--color-link-focus-text);
  color: var(--color-link-focus-background);
}

.pagination__link[aria-disabled] {
  cursor: not-allowed;
  background: var(--color-grey);
  color: var(--color-grey-xdark);
}

.pagination__link--previous {
  transform: rotateY(180deg);
}
